{
  "server": false,
  "datacenter": "home",
  "data_dir": "/etc/consul/data",
  "ui": false,
  "log_level": "INFO",
  "enable_syslog": true,
  "advertise_addr": "{{ ansible_default_ipv4.address }}",
  "bind_addr": "{{ ansible_default_ipv4.address }}",
  "retry_join": [
      "consul.clintjedwards.home"
  ]
}
