# This unit file is retrieved from traefik github repository
# @see https://raw.githubusercontent.com/containous/traefik/master/contrib/systemd/traefik.service
[Unit]
Description=Traefik
Documentation=https://docs.traefik.io
Requires=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/bin/traefik
AssertPathExists=/etc/traefik/traefik.toml

[Service]
User=traefik
Restart=on-failure
ExecStart=/usr/bin/traefik --configFile=/etc/traefik/traefik.toml
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
