[Unit]
Description=consul master
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Restart=on-failure
ExecStart=/usr/bin/consul agent -server -config-dir=/etc/consul/consul.d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
